.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.attribution {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    padding-bottom: 1rem;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

main::before {
    content: "";
    background: url(../images/pattern-curve.svg) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: bottom left;
    
}

.container {
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.image-container {
    position: relative;
    height: 100%;
    display: flex;

}

.image-container::before{
    content: "";
    background: url(../images/pattern-bg.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    width: 100%;
    height: 100%;
    background-position: center;
}

.image {
    width: 75%;
    margin: auto;
    position: relative;
}

figure {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 5%;
}

img {
    width: 100%;
    box-shadow: 2px 6px 30px 1px hsla(240, 38%, 20%, 0.2);
}

.buttons {
    position: absolute;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    width: 6.5rem;
    transform: translate(50%, 50%);
    box-shadow: 0px 3px 15px 1px hsla(240, 38%, 20%, 0.2);
    padding: 17px 20px;
    bottom: 0;
    left: 0;
}

button {
    outline: none;
    background-color: transparent;
    border: 0px;
    display: flex;
}


.description-box {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 5%;
}

.citation {
    font-weight: 300;
    font-size: 2.3rem;
    color: hsl(240, 38%, 20%);
    position: relative;
    z-index: 1;
}
.citation::before {
    content: "";
    background: url(../images/pattern-quotes.svg) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 5%;
    top: -45%;
    transform: scale(0.8);
}

.name {
    color: hsl(240, 38%, 20%);
    font-size: 1.5rem;
}

.profession {
    color: hsl(240, 18%, 77%);
    padding-left: 0.4rem;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
}

.quotes {
    display: flex;
    align-items: baseline;
    padding-top: 2.5rem;
}


@media (max-width: 1024px) {
    main::before{
        background-size: contain;
        left: -25%;
    }
    .container {
        flex-direction: column-reverse;
        align-items: center;
        padding: 5%;
        height: 100%;
    }

    figure {
        right: 0;
        height: auto;
        padding: 2%;
    }
    .image-container {
        padding: 1%;
    }

    .description-box {
        left: 0;
        text-align: center;
    }
    .quotes {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }

    .description-box {
        width: 100%;
        height: 50%;
    }

    .citation {
        font-size: 1.2rem;
    }

    .name {
        font-size: 1rem;
    }
    .profession {
        font-size: 0.9rem;
    }

    .citation::before {
        transform: scale(0.5) translate(-70%, 0);
        left: 50%;
        z-index: -1;

    }

    .buttons {
        left: 50%;
        transform: translate(-50%,50%);
        width: 4.5rem;
        padding: 10px 15px;
    }

    button  {
        width: 0.6rem;
    }

    .image {
        margin: 5% auto;
    }

    .attribution {
        display: none;
    }


    

}
